COMPOSE_PROJECT_NAME=<NAME:-os2display>
COMPOSE_SERVER_DOMAIN=<DOMAIN:-os2display.local.itkdev.dk>
COMPOSE_FILES=<COMPOSE_FILES:-docker-compose.server.yml,docker-compose.server.override.yml>

COMPOSE_ADMIN_CLIENT_PATH=/admin
COMPOSE_SCREEN_CLIENT_PATH=/client

COMPOSE_VERSION_API=latest
COMPOSE_VERSION_ADMIN=latest
COMPOSE_VERSION_CLIENT=latest


###
# PHP
###

PHP_MAX_EXECUTION_TIME=30
PHP_MEMORY_LIMIT=128M
PHP_POST_MAX_SIZE=140M
PHP_UPLOAD_MAX_FILESIZE=128M

###
# APPLICATION
####


APP_ENV=prod
APP_SECRET=<APP_SECRET:-CHANGE_ME>
APP_TRUSTED_PROXIES=127.0.0.1,REMOTE_ADDR
APP_DATABASE_URL=<DATABASE_URL:-mysql://db:db@mariadb:3306/db?serverVersion=mariadb-10.5.13>
APP_CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'

APP_DEFAULT_DATE_FORMAT='Y-m-d\TH:i:s.v\Z'
APP_KEY_VAULT_SOURCE=ENVIRONMENT
APP_KEY_VAULT_JSON="{}"
APP_ACTIVATION_CODE_EXPIRE_INTERVAL=P2D
APP_TRACK_SCREEN_INFO=false
APP_TRACK_SCREEN_INFO_UPDATE_INTERVAL_SECONDS=300

# JWT
APP_JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
APP_JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
APP_JWT_PASSPHRASE=<JWT_PASSPHRASE:-CHANGE_ME>
APP_JWT_TOKEN_TTL=3600
APP_JWT_SCREEN_TOKEN_TTL=1296000
APP_JWT_REFRESH_TOKEN_TTL=2592000
APP_JWT_SCREEN_REFRESH_TOKEN_TTL=2592000

# Internal OIDC provider
APP_INTERNAL_OIDC_METADATA_URL=
APP_INTERNAL_OIDC_CLIENT_ID=
APP_INTERNAL_OIDC_CLIENT_SECRET=
APP_INTERNAL_OIDC_REDIRECT_URI=
APP_INTERNAL_OIDC_LEEWAY=30
APP_INTERNAL_OIDC_CLAIM_NAME=navn
APP_INTERNAL_OIDC_CLAIM_EMAIL=email
APP_INTERNAL_OIDC_CLAIM_GROUPS=groups

# External OIDC provider
APP_EXTERNAL_OIDC_METADATA_URL=
APP_EXTERNAL_OIDC_CLIENT_ID=
APP_EXTERNAL_OIDC_CLIENT_SECRET=
APP_EXTERNAL_OIDC_REDIRECT_URI=
APP_EXTERNAL_OIDC_LEEWAY=30
APP_EXTERNAL_OIDC_HASH_SALT=
APP_EXTERNAL_OIDC_CLAIM_ID=signinname

APP_OIDC_CLI_REDIRECT=


APP_REDIS_CACHE_PREFIX=display
APP_REDIS_CACHE_DSN=redis://redis:6379/0

APP_CALENDAR_API_FEED_SOURCE_LOCATION_ENDPOINT=
APP_CALENDAR_API_FEED_SOURCE_RESOURCE_ENDPOINT=
APP_CALENDAR_API_FEED_SOURCE_EVENT_ENDPOINT=
APP_CALENDAR_API_FEED_SOURCE_CUSTOM_MAPPINGS='{}'
APP_CALENDAR_API_FEED_SOURCE_EVENT_MODIFIERS='{}'
APP_CALENDAR_API_FEED_SOURCE_DATE_FORMAT=
APP_CALENDAR_API_FEED_SOURCE_DATE_TIMEZONE=
APP_CALENDAR_API_FEED_SOURCE_CACHE_EXPIRE_SECONDS=300

APP_EVENTDATABASE_API_V2_CACHE_EXPIRE_SECONDS=300

###
# Admin configuration
###
APP_ADMIN_REJSEPLANEN_APIKEY=
APP_ADMIN_SHOW_SCREEN_STATUS=false
APP_ADMIN_TOUCH_BUTTON_REGIONS=false
APP_ADMIN_LOGIN_METHODS='[{"type":"username-password","enabled":true,"provider":"username-password","label":""}]'
APP_ADMIN_ENHANCED_PREVIEW=false


###
# Client configuration
###
APP_CLIENT_LOGIN_CHECK_TIMEOUT=20000
APP_CLIENT_REFRESH_TOKEN_TIMEOUT=300000
APP_CLIENT_RELEASE_TIMESTAMP_INTERVAL_TIMEOUT=600000
APP_CLIENT_SCHEDULING_INTERVAL=60000
APP_CLIENT_PULL_STRATEGY_INTERVAL=90000
APP_CLIENT_COLOR_SCHEME='{"type":"library","lat":56.0,"lng":10.0}'
APP_CLIENT_DEBUG=false



NGINX_FPM_UPLOAD_MAX=140M


# Have docker compose include a MariaDB database or configure an external one?
# Set to 'true' to use the built-in MariaDB database provided by the Docker Compose setup.
# Set to 'false' to configure and use an external MariaDB database.
INTERNAL_DATABASE=true

# Have docker compose include a Traefik proxy or configure an external one?
# Set to 'true' to use the built-in Traefik proxy provided by the Docker Compose setup.
# Set to 'false' to configure and use an external Traefik proxy.
INTERNAL_PROXY=true

# Note: When updating the database connection details, ensure that the following MariaDB variables
# are also updated to match the connection string above. These variables are used by the Docker
# Compose setup to configure the built-in MariaDB service. These variables are only necessary if
# the local MariaDB service is used (COMPOSE_INTERNAL_DATABASE=true).
MARIADB_USER=db
MARIADB_PASSWORD=db
MARIADB_ROOT_PASSWORD=dbrootpassword
MARIADB_DATABASE=db
DB_HOST=mariadb

# Use a built-in Traefik proxy or configure one externally?
# Set to 'true' to use the built-in Traefik proxy provided by the Docker Compose setup.
# Set to 'false' to configure and use an external proxy.
COMPOSE_INTERNAL_PROXY=true

